# Python
__pycache__/
*.py[cod]
*.pyd
.Python
.venv/
venv/
.env
.pytest_cache/
.ruff_cache/

# IDEs
.idea/
.vscode/

# Reports / Artifacts
reports/
artifacts/
allure-results/
allure-report/

# OS
Thumbs.db
Desktop.ini
